<!DOCTYPE html>
<html>
	<head>
		<title>{|{ title }|}</title>
		<meta name="description" content="{|{ title }|}" />
		<meta name="keywords" content="{|{ title }|}" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script src="modules/vue.js"></script>
		<script src="modules/mathProcess.js"></script>
		<style>
			body {
				font-size: 16px;
			}
			span {
				line-height: 30px;
			}
			.sr-only {
				position: absolute;
				width: 1px;
				height: 1px;
				padding: 0;
				margin: -1px;
				overflow: hidden;
				clip: rect(0,0,0,0);
				border: 0;
			}
			math {
				text-align: left;
			}
			#app {
				max-width: 80%;
				margin: 30px auto;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<span v-for="(item, key) in data" :key="key">
				<span v-if="item.type === 'text-content'">
					<span v-if="item.data === ''"><br /></span>
					<span v-else>{{ item.data }}</span>
				</span>
				<span
					v-if="item.type === 'math-content' || item.type === 'html-content'"
				>
					<span v-html="item.data"></span>
				</span>
				<span v-if="item.type === 'latex-content'">
					<span v-html="latex2mml(item.data)" class="sr-only"></span>
					<span v-html="mml2svg(latex2mml(item.data))" aria-hidden="true"></span>
				</span>
			</span>
		</div>
		<script>
			const {createApp, computed, ref} = Vue;
			const Content = {
				setup() {
					const data = ref([
						{% for item in data %}
							{
								type: `{|{ item.type }|}`,
								data: `{|{ item.data }|}`,
							},
						{% endfor %}
					])

					const handelContent = {
						"text-content": (content) => content,
						"latex-content": (content) => latex2mml(content),
					};
					const content = computed(() =>
						data.value
							.map((item) => handelContent[item.type](item.data))
							.join("")
					);
					return {
						asciimath2mml: asciimath2mml({inline: ("{|{ display }|}" === "inline")}),
						latex2mml: latex2mml({inline: ("{|{ display }|}" === "inline")}),
						mml2svg,
						data, content,
					}
				},
			}
			const app = createApp(Content).mount('#app');
		</script>
	</body>
</html>