addon/doc/*.css
addon/doc/en/
*_docHandler.py
*.html
*.ini
*.mo
*.pot
*.pyc
*.nvda-addon
.sconsign.dblite
*.pyo

addon/globalPlugins/MathMlReader/*user*
addon/globalPlugins/MathMlReader/locale/*/*user*