node	
math	<math><mn>1</mn><mo>+</mo><mn>2</mn><mo>+</mo><mn>3</mn></math>
mfrac	<math><mrow><mfrac><mn>3</mn><mrow><mn>1</mn><mo>+</mo><mi>x</mi></mrow></mfrac></mrow></math>
single_fraction	<math><mfrac><mi>3</mi><mi>4</mi></mfrac></math>
AddIntegerFractionType	<math><mn>17</mn><mfrac><mn>2</mn><mn>5</mn></mfrac></math>
mfenced	<math><mfenced><mrow><mn>5</mn><mo>+</mo><mn>6</mn></mrow></mfenced></math>
set	<math><mfenced open="{" close="}"><mrow><mn>1</mn><mo>,</mo><mn>2</mn><mo>,</mo><mn>3</mn><mo>,</mo><mn>4</mn></mrow></mfenced></math>
absolute_value	<math><mfenced open="|" close="|"><mrow><mo>-</mo><mn>2</mn></mrow></mfenced></math>
determinant	<math><mfenced open="|" close="|"><mtable><mtr><mtd><mn>2</mn></mtd><mtd><mn>3</mn></mtd></mtr><mtr><mtd><mn>5</mn></mtd><mtd><mi>x</mi></mtd></mtr></mtable></mfenced></math>
matrix	<math><mfenced open="[" close="]"><mtable><mtr><mtd><mn>2</mn></mtd><mtd><mn>3</mn></mtd></mtr><mtr><mtd><mn>5</mn></mtd><mtd><mi>x</mi></mtd></mtr></mtable></mfenced></math>
msqrt	<math><msqrt><mi>4</mi><mo>+</mo><mi>9</mi></msqrt></math>
mroot	<math><mroot><mi>9</mi><mi>3</mi></mroot></math>
single_square_root	<math><msqrt><mi>4</mi></msqrt></math>
msubsup	<math><msubsup><mi>a</mi><mn>n</mn><mn>2</mn></msubsup><mo>+</mo><msubsup><mi>a</mi><mn>n+1</mn><mn>2</mn></msubsup></math>
msup	<math><mrow><msup><mi>x</mi><mrow><mi>a</mi><mo>+</mo><mi>b</mi></mrow></msup></mrow></math>
msub	<math><msub><mi>a</mi><mrow><mi>n</mi><mo>+</mo><mn>1</mn></mrow></msub></math>
munderover	<math><munderover><mi mathvariant="normal">&#x3C0;</mi><mrow><mi>x</mi><mo>=</mo><mn>0</mn></mrow><mi>N</mi></munderover></math>
munder	<math><mrow><munder><mrow><mi>lim</mi></mrow><mrow><mi>x</mi><mo>&#x2192;</mo><mi>&#x221E;</mi></mrow></munder></mrow></math>
mover	<math><mover><mrow><mi>A</mi><mo>+</mo><mi>B</mi></mrow><mo>&#xAF;</mo></mover></math>
SingleMsubsup	<math><msubsup><mi>a</mi><mn>0</mn><mn>2</mn></msubsup><mo>+</mo><msubsup><mi>a</mi><mn>1</mn><mn>2</mn></msubsup></math>
SingleMsub	<math><mrow><msub><mrow><mi>log</mi></mrow><mn>2</mn></msub><mn>10</mn></mrow></math>
SingleMsup	<math><msup><mi>f</mi><mo>'</mo></msup></math>
SingleMunderover	<math><munderover><mi>&#x391;</mi><mi>m</mi><mi>n</mi></munderover></math>
SingleMunder	<math><munder><mi>lim</mi><mi>a</mi></munder></math>
SingleMover	<math><mover><mi>A</mi><mo>&#xAF;</mo></mover></math>
power	<math><msup><mn>3</mn><mn>5</mn></msup></math>
SquarePowerType	<math><msup><mn>3</mn><mn>2</mn></msup></math>
CubePowerType	<math><msup><mn>2</mn><mn>3</mn></msup></math>
from_to	<math><msubsup><mo>&#x222B;</mo><mn>0</mn><mn>1</mn></msubsup><msqrt><mi>x</mi></msqrt></math>
from	<math><munder><mo>&#x2211;</mo><mi>N</mi></munder></math>
to	<math><mover><mo>&#x2211;</mo><mi>N</mi></mover></math>
mtable	<math><mtable><mtr><mtd><mi>x</mi><mo>+</mo><mi>y</mi></mtd><mtd><mo>=</mo></mtd><mtd><mn>1</mn></mtd></mtr><mtr><mtd><mi>x</mi><mo>+</mo><mn>2</mn><mi>y</mi></mtd><mtd><mo>=</mo></mtd><mtd><mn>4</mn></mtd></mtr></mtable></math>
mtr	<math><mtable><mtr><mtd><mi>x</mi><mo>+</mo><mi>y</mi></mtd><mtd><mo>=</mo></mtd><mtd><mn>1</mn></mtd></mtr><mtr><mtd><mi>x</mi><mo>+</mo><mn>2</mn><mi>y</mi></mtd><mtd><mo>=</mo></mtd><mtd><mn>4</mn></mtd></mtr></mtable></math>
mtd	<math><mtable><mtr><mtd><mi>x</mi><mo>+</mo><mi>y</mi></mtd><mtd><mo>=</mo></mtd><mtd><mn>1</mn></mtd></mtr><mtr><mtd><mi>x</mi><mo>+</mo><mn>2</mn><mi>y</mi></mtd><mtd><mo>=</mo></mtd><mtd><mn>4</mn></mtd></mtr></mtable></math>
LineType	<math><mrow><mover accent='true'><mrow><mi>A</mi><mi>B</mi></mrow><mo stretchy='true'>&#x2194;</mo></mover></mrow></math>
RayType	<math><mrow><mover accent='true'><mrow><mi>A</mi><mi>B</mi></mrow><mo stretchy='true'>&#x2192;</mo></mover></mrow></math>
LineSegmentType	<math><mover><mrow><mi>A</mi><mi>B</mi></mrow><mo>&#xAF;</mo></mover></math>
VectorSingleType	<math><mrow><mover accent='true'><mrow><mi>A</mi></mrow><mo stretchy='true'>&#x21C0;</mo></mover></mrow></math>
VectorDoubleType	<math><mrow><mover accent='true'><mrow><mi>A</mi><mi>B</mi></mrow><mo stretchy='true'>&#x21C0;</mo></mover></mrow></math>
ArrowOverSingleSymbolType	<math><mrow><mover accent='true'><mrow><mi>a</mi></mrow><mo stretchy='true'>&#x2192;</mo></mover></mrow></math>
FrownType	<math><mrow><mover accent='true'><mrow><mi>A</mi><mi>B</mi></mrow><mo stretchy='true'>&#x2322;</mo></mover></mrow></math>
DegreeType	<math ><msup ><mn>15</mn><mo>∘</mo></msup><mo>+</mo><msup ><mn>10</mn><mo>∘</mo></msup><mo>=</mo><msup ><mn>25</mn><mo>∘</mo></msup></math>
LogType	<math><msub><mi>log</mi><mn>10</mn></msub></math>
BinomialType	<math><mo>(</mo><mfrac linethickness = "0"><mi>n</mi><mi>k</mi></mfrac><mo>)</mo></math>
NegativeSignType	<math><mo>-</mo><mn>2</mn></math>
PositiveSignType	<math><mo>+</mo><mn>2</mn></math>
mmultiscripts	<math><mmultiscripts><mi>T</mi><mprescripts/><mi>n</mi><mi>m</mi></mmultiscripts></math>
mprescripts	<math><mmultiscripts><mi>T</mi><mprescripts/><mi>n</mi><mi>m</mi></mmultiscripts></math>
none	